* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}
form {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 25px;
  padding: 30px;
}
.span1 {
  display: block;
}
.span2 {
  color: red;
  display: block;
}
.input {
  width: 280px;
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
.input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
}

.input::placeholder {
  color: #777;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
.input2 {
  width: 300px;
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
}
button {
  display: inline-block;
  border-radius: 4px;
  background-color: #3d405b;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 0 0 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 15px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
.containerRes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.res {
  display: flex;
  width: min-content;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
  h1 {
    font-size: 23px;
  }
  .bin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  button {
    margin-top: 1rem;
  }
}
